.navbar {
    background-color: #343a40; 
    padding: 1rem;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1); 
}

.navbar-brand {
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-brand:hover {
    color: #000000;
}

.navbar-nav .nav-link {
    color: #000000;
    margin-right: 1rem;
    transition: color 0.5s ease;
}

.navbar-nav .nav-link:hover {
    color: #000000;
}

.navbar-nav .nav-link.active {
    color: #000000;
    font-weight: bold;
}

.navbar-nav .nav-link.disabled {
    color: #909ea9;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2880, 80, 80, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
}
.container h1 {
    flex: 0 0 auto;
    padding-left: 5px;
    margin: 0;
}
.container p {
    flex: 1;
    margin: 0;
    padding-left: 25px;
}

.imagen {
    text-align: center;
}

.imagen {
    display: flex;
    justify-content: center; 
    padding-top: 10px;
}
.imagen img {
    width: 800px;
    height: 460px;
    border-radius: 30px;
    box-shadow: -20px 0 15px -15px rgba(0, 0, 0, 0.5), 40px 0 35px -25px rgba(33, 58, 27, 0.5); 
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.footer .contact-info, .footer .social-media {
    margin: 10px 0;
}
.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: underline;
}